{# templates/correo.html.twig #}

<h1>¡Gracias por su compra {{ app.user.login }}!</h1>
<h2>Identificador de su pedido: #{{ pedido_id }}</h2>

<h2>Resumen de su compra: </h2>

<table>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio y unidades</th>
        <th>Precio total</th>
    </tr>
    {% for cod, producto in productos %}
        <tr>
            <td>{{ cod }}</td>
            <td>{{ producto.nombre() }}</td>
            <td>{{ producto.descripcion() }}</td>
            <td>{{ producto.precio() }}€ X{{ unidades[cod] }}</td>
            <td>{{ producto.precio() * unidades[cod] }}€</td>
        </tr>
    {% endfor %}
</table>

<p>Precio total: {{ coste }}€</p>
